$font-primary:  Inter, sans-serif;

$rem: 15px;

$primary: #44B099;

$btn-rounding: 0;
$btn-height: 36px;
$btn-color: #323232;
$login-btn-color: $btn-color;

$input-rounding: 0;
$input-height: 36px;
$input-border: #9C9C9C;
